@font-face {
    font-family:android;
    src: url(fontes/idroid.otf);
}

body{
   background-color: wheat;
}

header{
    background-image: linear-gradient(to top, rgb(25, 107, 52), rgb(16, 238, 116)); 
}
header>h1{
   color: white; 
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   padding: 10px;
  margin: auto;
}
header>p{
    color: rgba(255, 255, 255, 0.747);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
nav>ul{
    display: flex;
    justify-content: auto;
}
nav>ul>li{
    margin-right: 10px;
    list-style-type: none;
    color: white;
    padding: 5px;
}
.home:hover{
  color: black; 
  background-color:rgba(86, 202, 86, 0.637) ;
}

.noticias:hover{
     color: black; 
       background-color:rgba(86, 202, 86, 0.637) ;
}
.curiosidades:hover{
    color: black; 
      background-color:rgba(86, 202, 86, 0.637) ;
}
.fale:hover{
    color: black; 
      background-color:rgba(86, 202, 86, 0.637) ;
}
main{

    min-width: 30%;
max-width: 1300px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 1px 11px black;
}
main>h1{
    font-family: android;
    padding: 10px;
    color: green;
    margin: -15px 0px 0px 0px;
    
}
main>h2{
    font-family: android;
    color: green;
   background-image: linear-gradient(to right, rgba(0, 128, 0, 0.473), transparent);  
    margin-left: 25px;
}


h3{
    color: white;
    background-color: green;
border-radius: 25px;
}

section{
   
    background-color: greenyellow;
   margin: auto;
max-width: 1300px;
 border-radius: 30px;

}
article>p{
    padding-left: 10px;
}

li{
list-style: none;
}
aside{
    padding-bottom: 3px;
    padding-left: 10px;
}
footer>p{
   
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(12, 49, 12);
    margin: 0;    
}

